In [1]:
a = 5
b = 8

In [13]:
def addition(a,b):
    c = a+b
    print(c)

In [12]:
print(c)

NameError: name 'c' is not defined

In [10]:
for i in range(1,11):
    i +=1

In [11]:
i

11

In [14]:
addition(8,9)

17

In [4]:
def area(r):
    x = 3.14*(r*r)
    print(x)

In [5]:
area(3)

28.26

In [12]:
def list_of_fruits(x):
    for i in x:
        print(i)
x = ['apple','banana','mango']        
list_of_fruits(x)

apple
banana
mango

In [17]:
#print and returnM

In [13]:
def add(a,b):
    c=a+b
    print(c)

In [14]:
x = add(5,6)
print(x)

11
None

In [15]:
def add(a,b):
    c=a+b
    return(c)

In [16]:
x=add(5,6)
x

11

In [27]:
marks = ('nikhil','bhanu','manoj')
def marks(x):
    if marks>50:
        print('pass')
    else:
        print('fail')
        return (x)

In [28]:
x = marks(50,40,30)
x

TypeError: marks() takes 1 positional argument but 3 were given

In [40]:
def result(s1,s2,s3):
    total = s1+s2+s3
    per = total/3
    if per>50:
        print('pass')
    else:
        print('fail')
    return

In [41]:
s1 = 40
s2 = 20
s3 = 10
result(s1,s2,s3)

fail

In [42]:
# types of arugument
#required arugument

In [ ]:
#default arrugemnent

In [43]:
def add(a,b=9):
    c = a+b
    return c

In [46]:
add(5,5)

10

In [54]:
def greet(a ="nani"):
    print(f"hello {a} good morning")

In [57]:
name('nani')

hello nani good morning

In [58]:
name("ashfaq")

hello ashfaq good morning

In [59]:
#keywords

In [68]:
def sub(x,y):
    z = x-y
    return z

In [69]:
sub(5,8)

-3

In [71]:
sub(y=5,x=9)

4

In [79]:
def greet(name,age,place="somala"):
    print(f"hello {name},and {age},and my place is {place}")

In [80]:
greet("nani",21)

hello nani,and 21,and my place is somala

In [78]:
greet

In [81]:
#variable length

In [84]:
def xyz(*a):
    print(a)

In [85]:
xyz(5,6,7)

(5, 6, 7)

In [100]:
def xyz(*a):
    print(a)

In [101]:
xyz(5)

(5,)

In [102]:
def add(*a,b):
    print(a,b)

In [103]:
add(3,4,6,7)

TypeError: add() missing 1 required keyword-only argument: 'b'

In [106]:
#argument

In [116]:
addition = lambda a,b,:a+b

In [118]:
addition(9,9)

18

In [119]:
# lambda

In [120]:
#map

In [133]:
x= [1,2,3,4]

In [136]:
x = tuple(map(lambda a : a * 2, x))
x

(8, 16, 24, 32)

In [165]:
x = ["MANGO","GRAPE","APPLE"]

In [166]:
xy = list(map(lambda a:a.capitalize(),x))

In [167]:
xy

['Mango', 'Grape', 'Apple']

In [3]:
sum = 1
for i in range(1,10):
    sum = sum+i

In [4]:
print(sum)

46

# filter

In [6]:
l = [1,2,3,4]
evens = list(filter(lambda a:a%2==0,l))

In [8]:
evens

[2, 4]

In [24]:
l = ['Mango', 'Grape', 'Apple']

In [26]:
even = list(filter(lambda a:len(a)>4==0,l))

In [27]:
even

[]

In [ ]:
#reduce

In [31]:
import functools

In [33]:
from functools import reduce

In [35]:
l = [1,2,3,4,5]
red = reduce(lambda a,b:a+b,l)
red

15

In [36]:
#scope of variable

In [37]:
x = 5
def ab():
    y = 10
    print(x)
    print(y)

In [38]:
ab

In [39]:
x

5

In [40]:
y

NameError: name 'y' is not defined

In [41]:
#recursive

In [47]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n * factorial (n - 1)

In [48]:
print(factorial(6))

720

In [53]:
def fibonacci(n):
    if n ==0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci (n-1) + fibonacci (n-2)

In [56]:
print(fibonacci(5))

5

In [82]:
def sum(n):
    if n == 0:
        return 0
    else:
        return n +sum (n-1)

In [88]:
print(sum(9))

45