# len()
- to know length of the string

In [1]:
x = "chakravardhan"
print(len(x))

13

# upper

In [10]:
x = "Hellopython"
print(f"{x.upper()}")

HELLOPYTHON

 # lower"

In [11]:
x = "HELLOPYTHON"
print(f"{x.lower()}")

hellopython

In [12]:
x = "innomatrics research labs"

 # capitalize

In [13]:
print(f"{x.capitalize()}")

Innomatrics research labs

In [14]:
x = "innomatrics research labs"

# title

In [16]:
print(f"{x.title()}")

Innomatrics Research Labs

In [18]:
x.title()

'Innomatrics Research Labs'

In [22]:
x = "chakravardhan"
print(f"{x.count('a')}")

4

# start switch

In [31]:
x = "chakravardhan"
print(f"{x.startswith('cha')}")

True

In [30]:
x = "chakravardhan"
x.startswith('c')

True

# end switch

In [33]:
x = "chakravardhan"
print(f"{x.endswith('dhan')}")

True

# find

In [35]:
x = "chakravardhan"
print(f"{x.find('a')}")

2

In [39]:
x = "hello"
print(f"{x.index('l')}")

2

In [38]:
x.index('l')

2

# isdigit

In [42]:
x = '12345'
print(f"{x.isdigit()}")

True

In [41]:
x = '12345'
x.isdigit()

True

In [43]:
x = 'hello123'
print(f"{x.isdigit()}")

False

# replace

In [53]:
x = 'hello'
print(f"{x.replace('el','mn')}")

hmnlo

In [48]:
x = "hello"
y =x.replace('el','nn')

'hnnlo'

In [56]:
print(f"{x}")

hello

# strip

In [66]:
x = " welcome to the class  "
print(f"{x.strip()}")

welcome to the class

In [63]:
x = " welcome to the class  "
x.strip()

'welcome to the class'

In [65]:
x = " welcome to the class  "
x.lstrip()

'welcome to the class  '

In [67]:
x = 'hello python'
print(len(x))

12

In [68]:
y = x.strip()

In [69]:
print(x)

hello python

In [70]:
print(len(x))

12

In [83]:
x = "****innomatics****research***labs"
x.strip('*')

'innomatics****research***labs'

In [84]:
a = "innomatrics research lab"
a.split('a')

['innom', 'trics rese', 'rch l', 'b']

# detele

In [86]:
d = "hello"
d

'hello'

In [90]:
del d

NameError: name 'd' is not defined

In [91]:
d

NameError: name 'd' is not defined

In [95]:
x = " hello world "
x.strip()
print(len(x))

13

In [94]:
y = x.strip()
print(len(y))

11

In [99]:
print(len(y))

11

In [100]:
Step 5: Split Sentence and Delete a Word

- Split the sentence into words using split().
- If there are two or more words, delete the second word using the del keyword.
- Print the new list of words.

SyntaxError: illegal target for annotation (268381415.py, line 1)

In [104]:
user_input = " innomatics research labs  "
user_input.strip()

'innomatics research labs'

In [111]:
print(f"the lenghth of the string {len(user_input)}")

the lenghth of the string 27

In [122]:
x = "innometrics"
print(f"the sentance start with the{x.startswith('Hello')}")

the sentance start with theFalse

In [123]:
x = "innometrics"
print(f" the sentence end with the {x.endswith('.')}")

 the sentence end with the False

In [125]:
e = 'innometrics'
print(f"the how many letters in a sentence {e.count('n')}")

the how many letters in a sentence 2

In [129]:
a = 'ramannagarichakravardhan'
print(f"split sentence in a word{a.split('a')}")

split sentence in a word['r', 'm', 'nn', 'g', 'rich', 'kr', 'v', 'rdh', 'n']

In [132]:
d = ['r', 'm', 'nn', 'g', 'rich', 'kr', 'v', 'rdh', 'n']
print(f"the delete the{d.del['2']}")

SyntaxError: f-string: invalid syntax (2015155241.py, line 2)

In [134]:
x = 'innometrics research lab'
print(f"captilise the sentence  {x.capitalize()}")

captilise the sentence  Innometrics research lab

# .format

In [2]:
a = 3
b = 4
c = 5
"cost of the pen of a {},the pen of b {}, the cost of pen c {}".format(a,b,c)

'cost of the pen of a 3,the pen of b 4, the cost of pen c 5'

# string concatenation

In [4]:
s1 = "hello" # addition between to strings
s2 = "python"
s3 = s1+s2
print(s3)

hellopython

In [5]:
s3

'hellopython'

In [6]:
s4 = s1+ " " +s2

In [7]:
s4

'hello python'

# string membership

In [8]:
x = "Innomatics"

In [9]:
'n' not in x

False

In [10]:
'n' in x

True

In [11]:
'x 'in x

False

In [12]:
'x' not in x

True

# type casting on string

In [13]:
x = "abcd"
int(x)

ValueError: invalid literal for int() with base 10: 'abcd'

In [14]:
x = "abcd"
float(x)

ValueError: could not convert string to float: 'abcd'

In [15]:
x = "abcd"
complex(x)

ValueError: complex() arg is a malformed string

In [16]:
x ='1234'
int(x)

1234

In [17]:
x='1234'
float(x)

1234.0

In [18]:
x = '1234'
complex(x)

(1234+0j)

In [19]:
x = 'ab12'

In [20]:
int(x)

ValueError: invalid literal for int() with base 10: 'ab12'

In [21]:
d = "3+6j"

In [22]:
print(int(d))

ValueError: invalid literal for int() with base 10: '3+6j'

In [23]:
print(float(d))

ValueError: could not convert string to float: '3+6j'

In [24]:
print(str(d))

3+6j

In [26]:
x ="3+8j"

In [27]:
print(int(x))

ValueError: invalid literal for int() with base 10: '3+8j'

In [28]:
print(float(x))

ValueError: could not convert string to float: '3+8j'

In [29]:
print(complex(x))

(3+8j)

# input function

In [30]:
x = input()

7

In [33]:
3 + 4

7

In [34]:
type(x)

str

In [35]:
x = input("enter the value")

enter the value6

In [36]:
s = int(input("enter the value"))

enter the value3

In [37]:
type(s)

int

In [38]:
s = float(input("enter the value"))

enter the value4.0

In [39]:
type(s)

float

In [4]:
x = (input("enter the name ")

SyntaxError: incomplete input (1449770098.py, line 1)

In [3]:
type(x)

complex

In [7]:
x = complex(input("enter the complex value:"))
x

enter the complex value:2 + 3j

ValueError: complex() arg is a malformed string

# variable assignment

# single value

In [8]:
a = 6
a

6

In [9]:
print(a)

6

# mutliple

In [11]:
x,y,z = 3,4,5
x,y,z

(3, 4, 5)

In [12]:
print(x)
print(y)
print(z)

3
4
5

In [13]:
x,y,z = 3,4,5
x
y
z

5

# fstring

In [16]:
a = 5
b = 6
print (f"the addition of {a} and {b} is   {a+b}")

the addition of 5 and 6 is   11

# eval function

In [19]:
a = 3
b = 5
print(f"addition of {a} and {b} is:",a+b)

addition of 3 and 5 is: 8

In [29]:
x = 5
y = 6
'x+y'

'x+y'

'x+y'

In [27]:
eval('x+y')

11

In [30]:
x = 4
y = 5
eval('x+y')

9

In [31]:
x = 5
y = 9
eval('x+y')

14